.layout-container{
    display: grid;
    grid-template-columns:  1fr  9fr;
}

.side{
    display: block;
}

.wil-container{
    background-color: #F8F9FB;
}

.dash-container{
    height: 100%;
}


@media screen and (max-width: 375px) {
    .layout-container{
        display: grid;
        grid-template-columns:  0fr  9fr;
    }
  }