.layout-container{
    display: grid;
    grid-template-columns:  1fr  9fr;
}

.side{
    display: block;
}

.navContainer{
    height: 64px;
}

.wil-container{
    background-color: #F8F9FB;
}