.transactions{
    background-color: white;
    border-radius: 7px;
}

.money{
    padding: 24px;
}

.recent{
    display: flex;
    justify-content: space-between;
}

.recent h5{
    font-size: 24px;
    font-weight: 500;
    font-family: "Instrument Sans";
    color: #103333;
    line-height: 32px;
}

.recent button{
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.recent-transactions{
    height: 104px;
    width: 595px;
    margin-top: 24px;
    background-color: #F8F9FB;
    display: flex;
    text-align: center;
    padding: 24px 30px;
    border-radius: 12px;
}

.recent-transactions .icontransact{
    background-image: url('../images/transacticondownDT.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 56px;
}

.transact-user{
    width: 112px;
    padding-left: 7.5px;
    margin-right: 299px;
}

.transact-user h5{
    font-size: 16px;
    font-weight: 500;
    color: #002C2C;
    padding-top: 8px;
    line-height: 19.52px;
    padding-bottom: 4px;
}

.sent{
    color: #485467;
    font-size: 14px;
    font-weight: 400;
    padding-right: 7px;
}

.date{
    font-size: 14px;
    font-weight: 400;
}

.transact-money{
    width: 60px;
}

.transact-money h2{
    font-family: 'Instrument Sans';
    font-size: 14px;
    font-weight: 700;
    color: #002C2C;
    padding-top: 8px;
    padding-bottom: 8px;
}

.transact-money h6{
    color: #485467;
    font-size: 13px;
    font-weight: 400;
    line-height: 4px;
}

@media screen and (max-width: 375px) {
    .transactions{
        width: 21.438rem;
    }

    .recent h5{
        font-size: 16px;
    }

    .recent button{
        font-size: 16px;
    }

    .recent-transactions{
        width: 18.438rem;
        /* height: 68px; */
        /* padding: 16px; */
    }

    .recent-transactions .icontransact{
        width: 36px;
    }

    .transact-user{
        font-size: 12px;
        margin-right: 40px;
        padding-left: 0px;
    }
    .icontransact{
        padding-right: 0px;
    }

    .transact-money h2{
        font-size: 12px;
    }

    .transact-money h6{
        font-size: 11px;
    }
}