.special h5,.special h3{
    font-family: 'Instrument Sans';
}

.user-activities button{
    padding: 12px;
    border-radius: 24px;
    border: none;
    background-color: #FFFFFF;
    color: #979EA8;
    margin-right: 20px;
    cursor: pointer;
}
.user-activities button:hover{
    background-color: #002C2C;
    color: #B2FA63;
    transition: 0.4s ease-in-out;
}

.transact-active{
    margin-top: 40px;
    margin-right: 40px;
    background-color: #FFFFFF;
    height: 340px;
    padding: 32px 32px 0px 32px;
    border-radius: 16px;
}

.user-history{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FB;
    width: 980px;
    height: 80px;
    padding: 0px 24px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.user-history img{
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}

.icon-activities{
    display: flex;
    align-items: center;
}

.icon-activities h1{
    font-weight: 500;
    font-size: 14px;
    color: #002C2C;
}

.specially{
    display: flex;
    align-items: center;
}

.specially h5{
    font-weight: 600;
    font-size: 14px;
    color: #002C2C;
}

.user-history .transfer h5,
.user-history .transfer-day h5{
    font-weight: 500;
    font-size: 14px;
}

.transfer-day{
    color: #485467;
}

.success{
    background-color: #F7FFEF;
    padding: 8px 12px;
    color: #6B963B;
    font-family: 'Instrument Sans';
    font-weight: 400;
    font-size: 14px;
    border-radius: 24px;
}

@media screen and (max-width: 375px){

    /* .transact-active{
        width: 18.438rem;
        
        overflow: scroll;
    } */
    /* .user-history{
        display: flex;
        justify-content: space-between;
        overflow: scroll;
    }

    .icon-activities{
        overflow: scroll;
    } */

}