
.invests{
    

}

.investments_container{
    display: flex;
    margin-top: 24px;
}

.help{
    background-image: url('../images/bbg.png');
    height: 179px;
    width: 500px;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 24px;
}

.help h3{
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 8px;
}

.help p{
    font-weight: 300;
    width: 206px;
}

.invest-record{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 24px;
    background-color: #F8F9FB;
}

.invest-record .money{
    background-color: #FFFFFF;
    border-radius: 12px;
}

.invest-record input{
    width: 112px;
    height: 40px;
    background-color: #FFF0EC;
    border-radius: 25px;
    border: none;
    padding: 10px;
    gap: 10px;
    outline: none;
    cursor: pointer;
}

.invest-record input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #FF673E;
}

.plans{
    width: 512px;
    margin-top: 44px;
}

.future-plans{
    display: flex;
}

.one{
    width: 173px;
    height: 6px;
    color: #f33b09;
}

.plain-sheet{
    margin-left: 24px;
}

.plain-sheet .title h2{
    font-family: 'Instrument Sans';
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
}

.create-plans{
    background-color: #FFFFFF;
    height: 166px;
    width: 390px;
    border-radius: 12px;
    padding: 57px 70px;
    align-items: center;
}

.create-plans h3{
    font-family: 'Instrument Sans';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 7px;
}