.side-container {
  padding-top: 33px;
}

.afri-logo {
  /* background-image: url('../../components/images/Afrihomelogo.png'); */
  background-repeat: no-repeat;
  width: 100.91px;
  padding: 0 0 0 0;
  cursor: pointer;
  margin-left: 55px;
}

.nav {
  display: flex;
  gap: 8px;
  margin: 30px 0px;
  width: 178px;
  padding: 20px;
  margin-left: 27px;
  margin-right: 20px;
}

.nav:hover {
  background: linear-gradient(90deg, #22082c, #181212);
    color: #ffff;
  border-radius: 6px;
  padding: 20px;
  width: 178px;
}

.nav-logo,
.dashboard,
.purse-logo,
.invest,
.transact,
.user {
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
}

.dashboard {
  background-image: url('../../components/images/dashlogo.png');
}

.purse-logo {
  background-image: url('../../components/images/purse.png');
}

.invest {
  background-image: url('../../components/images/investlogo.png');
}

.transact {
  background-image: url('../../components/images/transact.png');
}

.user {
  background-image: url('../../components/images/user-square.png');
}

h4 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 14px;
  color: #979EA8;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

footer {
  display: flex;
  padding: 428px 31px 39px 30px;
  gap: 8px;
  cursor: pointer;
}

.logout-icon {
  background-image: url('../images/logout.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
}

button{
  cursor: pointer;
  text-decoration: none;
  background-color: none;
  border: none;
}

@media screen and (max-width: 375px) {
  .side-container{
    display: none;
  }
}