.mode-container{
    background-image: url("../../components/images/hurrayBg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 960px;
    padding-left: 54px;
}

.upper-layer{
    padding-bottom: 205.66px;
}

.modal-container{
    background-color: #FFFFFF;
    width: 552px;
    height: 445px;
    border-radius: 12px;
    padding: 100px;
}

.modal-container h1{
    font-weight: 500;
    font-size: 72px;
    color: #002C2C;
    line-height: 88px;
    padding-bottom: 12px;
}

.modal-container p{
    text-align: center;
    width: 318px;
}

.modal-container button{
    width: 352px;
    height: 66px;
    padding: 21px 24px;
    gap: 8px;
    background: linear-gradient(0deg, #103333, #103333),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border: none;
    border-radius: 10px;
    color: #B2FA63;
    outline: none;
    cursor: pointer;
    margin-top: 23px;
}

.welcome{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-page{
    background-image: url('../../components//images/modal.png');
    background-size: cover;
    height: 960px;
    padding: 58px 0 0 54px;
}

.welcome-layer{
    padding-bottom: 600.66px;
}

.greeting h1{
    color: white;
    font-size: 72px;
    font-weight: 600;
    line-height: 88px;
}

@media screen and (max-width: 320px) {
    
}
