@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

.wiglet-container {
    background-color: #F8F9FB;
    padding-left: 39px;
    padding-top: 24px;
}

.welcome-container h1 {
    font-weight: 500;
    font-size: 32px;
    color: #103333;
    line-height: 44px;
    padding-bottom: 6px;
}

.wing {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 24px;
    gap: 20px;
    width: 100%;
}

.balance-wing {
    width: 500px;
    height: 179px;
    background-image: url('../images/bal-img.png');
    background-repeat: no-repeat;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 28px 48px 28px 28px;
}

.balance-wing h3 {
    font-family: 'Instrument Sans';
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
}

.balance-wing h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 6px;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.balance-wing input {
    width: 116px;
    height: 40px;
    background-color: #F7FFEF;
    border-radius: 25px;
    border: none;
    padding: 10px;
    gap: 10px;
    outline: none;
}

.img-container {
    position: absolute;
    left: 90.17px;
    bottom: 11px;
}

.input-container input::placeholder {
    font-size: 15px;
    font-weight: 500;
}

.balance-wing button {
    width: 110px;
    height: 48px;
    background-color: #F7FFEF;
    border-radius: 10px;
    border: none;
    padding: 13px 33px;
    gap: 8px;
    margin-top: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.invest-wing {
    background-image: url('../images/invest-bg.png');
    background-repeat: no-repeat;
    width: 549px;
    margin-right: 15px;
    border-radius: 12px;
    padding: 34px 0 34px 28px;
}

.invest-wing h6 {
    font-family: "Instrument Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.03em;
    padding-bottom: 8px;
}

.invest-wing h1 {
    font-family: "Instrument Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -0.03em;
    padding-bottom: 6px;
}

.invest-wing input {
    width: 86px;
    height: 38px;
    padding: 10px;
    background-color: #FF673E;
    border-radius: 25px;
    border: none;
    gap: 10px;
    outline: none;
}

.invest-wing input::placeholder {
    font-size: 15px;
    color: #FFF0EC;
}

.lower-wing {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 573px;
    height: 100%;
}

.modal {
    background: #FFFFFF;
    /* width: 10px; */
    height: 926px;
    border-radius: 8px;
    z-index: 2;
    width: 650px;
    padding: 32px 64px 0px 64px;
}

.modal img {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.invest_h1{
    width: 310px;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    padding: 24px 0px 44px 0px;
    color: #103333;
}

.investment {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.investment img {
    width: 56px;
    height: 56px;
}

.education {
    width: 169px;
    height: 120px;
    background: #F8F9FB;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.education h3{
    font-weight: 400;
    font-size: 16px;
    color: #485467;
}

.back{
    cursor: pointer;
}

.invest-duration{
    width: 432px;
}

.invest-duration h1{
    padding-top: 24px;
    color: #103333;
    font-size: 32px;
    font-weight: 500;
}

.invest-duration p{
    padding-top: 8px;
    padding-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
    color: #485467;
}

.durations .duration{
    background-color: #F8F9FB;
    display: flex;
    justify-content: space-between;
    width: 460px;
    height: 98px;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 22px;
}

.duration h1{
    color: #002C2C;
    font-size: 16px;
    font-weight: 500;
}

.duration .percent{
    background-color: #FFF0EC;
    color: #FF673E;
    font-size: 15px;
    font-weight: 500;
    width: 120px;
    height: 38px;
    padding: 10px;
    border-radius: 25px;
}


@media screen and (max-width: 375px) {
    .wiglet-container{
        padding: 20px 16px 0px 16px;
    }

    .welcome-container h1 {
        font-size: 24px;
    }

    .welcome-container P{
        font-weight: 400;
        font-size: 14px;
        width: 301px;
    }

    .wing{
        display: block;
    }

    .wing .balance-wing{
        width: 21.438rem;
        height: 131px;
        border-radius: 12px;
        align-items: center;
        margin-bottom: 16px;
    }

    .wing .balance-wing h3{
        font-size: 12px;
        font-weight: 400;
    }

    .balance-wing h1{
        font-size: 20px;
    }

    .balance-wing input{
        width: 89px;
        height: 28px;
    }

    .img-container{
        left: 66px;
    }

    .input-container input::placeholder{
        font-size: 12px;
    }

    .balance-wing button{
        width: 91px;
        height: 36px;
        font-size: 12px;
        padding: 6.5px 26.5px;
    }

    .invest-wing{
        width: 21.438rem;
        height: 129px;
        padding: 24px 0px 0px 24px;
    }

    .invest-wing h6{
        font-size: 12px;
        padding-bottom: 0;
    }

    .invest-wing h1{
        font-size: 20px;
        padding-bottom: 0;
    }

    .invest-wing input{
        width: 89px;
        height: 28px;
    }

    .lower-wing{
        display: block;
    }

    .overlay{
        width: 21.438rem;
        top: 100%;
        left: -100%;
    }
}