.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 37px 20px 40px;
}

.header{
    font-family: 'Instrument Sans';
}

.notify{
    background-image: url('../../components/images/notification-bing.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    cursor: pointer;
}

.menu{
    display: none;
}

@media screen and (max-width: 375px) {

    .nav-container{
        width: 23rem;
        padding: 1.25rem 1.5rem;
    }
    .menu{
        display: block;
    }

    .menu-container{
        display: flex;
        gap: 5px;
    }

    .overlay{
        background-color: brown;
    }
}