.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 37px 20px 40px;
}

.header{
    font-family: 'Instrument Sans';
}

.notify{
    background-image: url('../../components/images/notification-bing.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    cursor: pointer;
}
